<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">100% HomeMade</h4>
                <h1 class="mb-5 display-3 text-primary">Explore Our Sweet Range of Chocolate Categories</h1>

            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        @for (c of categorys; track $index) {
                        <div [ngClass]="{ 'active': $index === 0 }" class="carousel-item rounded">
                            <img [src]="c.imageUrl" class="img-fluid w-100 h-100 bg-secondary rounded"
                                alt="{{ c.name }}">
                            <a [routerLink]="['/main/shop', c.id]" class="btn px-4 py-2 text-white rounded">{{ c.name
                                }}</a>
                        </div>
                        }

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-car-side fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Free Shipping</h5>
                        <p class="mb-0">Free on order over 100dt</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Security Payment</h5>
                        <p class="mb-0">100% security payment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>24/7 Support</h5>
                        <p class="mb-0">Support every time fast</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">Our reviews</h4>
            <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
        </div>
        <div class="">
            @for (item of reviews.slice(0, visibleReviews); track item.id) {
            <div class="img-border-radius bg-light rounded p-4 mb-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute"
                        style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">{{item.comment}}
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img [src]="item.user.imageUrl || 'default-image-url'" class="img-fluid rounded"
                                style="width: 100px; height: 100px;"
                                alt="{{ item.user.firstname }} {{ item.user.lastname }}" />
                        </div>
                        <div class="ms-4">
                            <h4 class="text-dark">
                                {{ item.user.firstname }} {{ item.user.lastname }}
                            </h4>
                            <div class="d-flex pe-5" [innerHTML]="generateStars(item.rating)">
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            }

        </div>
        @if (visibleReviews < reviews.length) { <div class="text-center mt-4">
            <button class="btn btn-primary" (click)="loadMore()">
                Show More
            </button>
    </div>
    }
</div>
</div>