<div class="rounded position-relative fruite-item border border-secondary shadow-sm">
    <div class="fruite-img">
      <a [routerLink]="['/main/shop', chocolate.category, chocolate.id]">
        <img [src]="chocolate.imageUrl" class="img-fluid w-100 rounded-top" alt="{{ chocolate.name }}">
      </a>
    </div>
    <div class="p-4">
      <h4 class="text-dark text-truncate">{{ chocolate.name }}</h4>
      <p class="text-dark fs-5 fw-bold mb-3">{{ chocolate.price }} DT</p>
      <div class="d-flex justify-content-between align-items-center">
        <a [routerLink]="['/main/shop', chocolate.category, chocolate.id]" class="text-primary text-decoration-none">
          View Details
        </a>
        <button (click)="onAddToCart()" class="btn border border-secondary rounded-pill px-3 text-primary">
          <i class="fa fa-shopping-bag me-2"></i> Add to cart
        </button>
      </div>
    </div>
  </div>
  