<div class="container-fluid contact py-6">
    <div class="container py-6">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Welcome to our house</h1>
                        <p class="mb-4">Give your informations</p>
                    </div>
                </div>
                <div class="col-lg-6  offset-lg-3">
                    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                        <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your FirstName"
                            name="firstname" formControlName="firstname">
                        @if(firstname?.errors?.['pattern'] && firstname?.dirty){
                        <div class="alert alert-danger d-flex align-items-center shadow-sm p-3 " role="alert"
                            style="font-size: 0.7rem;">
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                            The first character of the first name must be uppercase
                        </div>
                        }
                        @else if (firstname?.errors?.['minLength'] && this.firstname?.dirty) {
                        <div class="alert alert-danger d-flex align-items-center shadow-sm p-3 " role="alert"
                            style="font-size: 0.7rem;">
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                            The first name must be at least 3 characters long
                        </div>
                        }


                        <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your lastname"
                            name="lastname" formControlName="lastname">
                        @if (lastname?.errors?.['pattern'] && lastname?.dirty) {
                        <div class="alert alert-danger d-flex align-items-center shadow-sm p-3 " role="alert"
                            style="font-size: 0.7rem;">
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                            The first character of the last name must be uppercase
                        </div>
                        }
                        @else if (lastname?.errors?.['minlength'] && lastname?.dirty) {
                        <div class="alert alert-danger d-flex align-items-center shadow-sm p-3 " role="alert"
                            style="font-size: 0.7rem;">
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                            The last name must be at least 3 characters long
                        </div>
                        }
                        <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your email"
                            name="email" formControlName="email">
                        @if (email?.invalid && email?.dirty) {
                        <div class="alert alert-danger d-flex align-items-center shadow-sm p-3 " role="alert"
                            style="font-size: 0.7rem;">
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                            Please enter a valid email address
                        </div>
                        }
                        <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your password"
                            name="password" formControlName="password">
                        @if (password?.invalid && password?.dirty) {
                        <div class="alert alert-danger d-flex align-items-center shadow-sm p-3 " role="alert"
                            style="font-size: 0.7rem;">
                            <i class="bi bi-exclamation-circle-fill me-2"></i>
                            The password must be at least 6 characters long
                        </div>
                        }
                        <input type="text " class="w-100 form-control border-0 py-3 mb-4" value="/img/user.png">
                        <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary"
                            type="submit">
                            Submit
                        </button>
                        <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="reset"
                            (click)="onReset()">
                            reset
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>